<%- include("./partials/header", { title: "User Dashboard" }) %>

<div id="content-wrapper" class="container mt-4 flex-grow-1">
  <div class="row">
    <%- include("./partials/profileSidebar", { user }) %>
    <div class="col-md-9">
      <%- include("./partials/profileForm", { user }) %>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
